<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
<h1 align="center">DIGITAL BOOKS</h1>
<br> <br> <br>
<div class="container align-items-center justify-content-center">
    <!-- <div class="row">
        <button class="btn  col-2" routerLink='/createbook'>CREATE BOOK</button>
    </div>
    <br> -->
    <!-- <div class="row">
        <button class="btn  col-2" routerLink="/login">LOGIN</button>
    </div>
    <br> -->
    <div class="row">
        <button class="btn  col-2" routerLink="/register">REGISTER</button>
    </div>
    <br>

    <div class="row">
        <button class="btn  col-2" routerLink="/login">LOGIN</button>
    </div>
    <br>



    <div class="row">
        <button class="btn  col-2" routerLink='/createbook'>CREATE BOOK</button>
    </div>
    <br>


    <div class="row">
        <button class="btn  col-2" routerLink="/getBooks">BOOKLIST</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/buybooks">BUYBOOKS</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/refund">REFUND</button>
    </div>

</div>

</body>
</html>